# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f7274c460951164dda5751d4c3ef8c2de792a65475e6333102fdfa8ac722d5d15c9a6ffecaa807dc45c90eb81b9c0a63c314de25ab26204b843ef7c9e4951bd8

test:
  secret_key_base: 28f1071860949333bd3d8e183ba90ebb8c1863bfd576d9e7a7693e5257a246aa1688d5807861f69a3766dd8b6f22419921f9417f70685f9718ad0bef19cfa385

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
